<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          mode="md"
          defaultHref="/tabs/home"
          class="btnBg btnBgLight"
        ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @let pdt = productDetails();

  <div [style.backgroundImage]="'url(' + pdt?.image + ')'" class="bg">
    <ion-row class="bottom-center">
      @for(image of [1,2,3,4,5]; track $index) {
      <ion-col size="auto">
        <app-image-rect-box
          [image]="'assets/products/chocolate-cake.jpg'"
        ></app-image-rect-box>
      </ion-col>
      }
    </ion-row>
  </div>

  <ion-list lines="none" class="ion-margin">
    <ion-item class="item">
      <ion-label class="medium">
        {{pdt?.category?.name}}
        <p class="xlarge mt text-weight-500">
          <ion-text color="dark"> {{pdt?.name}} </ion-text>
        </p>
      </ion-label>

      <ion-col slot="end" class="ion-text-end">
        <ion-row class="rating medium">
          <ion-icon name="star" color="warning"></ion-icon>
          {{pdt?.rating}}
        </ion-row>
        <ion-row class="mt">
          <app-veg-nonveg-indicator
            [type]="pdt?.type!"
          ></app-veg-nonveg-indicator>
        </ion-row>
      </ion-col>
    </ion-item>

    <ion-item class="description" lines="full">
      <ion-label>
        <ion-text class="large text-weight-500" color="dark"
          >Description</ion-text
        >

        <div class="text-container">
          <p class="medium" [ngClass]="{'expanded': readMore()}">
            {{ pdt?.description }}
          </p>

          @if(!readMore()) {
          <ion-button
            size="small"
            fill="clear"
            color="primary"
            class="ion-no-margin"
            (click)="readMore.set(true)"
          >
            Read more
          </ion-button>
          }
        </div>
      </ion-label>
    </ion-item>

    @if(pdt?.varieties?.length! > 0) {
    <ion-list-header class="large text-weight-500">
      Select Option
    </ion-list-header>

    <ion-row class="sizes">
      @for(variety of pdt?.varieties; track $index) {
      <ion-col>
        <ion-button size="small" [ngClass]="{ 'selected': variety?.is_default}">
          {{variety?.quantity}} {{variety?.unit}}
        </ion-button>
      </ion-col>
      }
    </ion-row>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <ion-label class="medium">
          Total Price
          <p class="large text-weight-500">
            <ion-text color="dark">{{ pdt?.default_price }} Fcfa</ion-text>
          </p>
        </ion-label>
      </ion-col>

      <ion-col size="8">
        <ion-button
          size="large"
          expand="block"
          shape="round"
          [strong]="true"
          mode="ios"
        >
          <ion-icon slot="start" name="bag-handle"></ion-icon>
          <ion-text class="large">Add to Cart</ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
