<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-item lines="none">
      <ion-label>
        Localisation
        <p>
          <ion-icon name="location"></ion-icon>
          <ion-text>Avenue Sankara, Rue 121</ion-text>
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col size="12">
        <ion-searchbar
          #searchInput
          color="light"
          class="srchBar"
          readonly
          mode="ios"
          placeholder="Rechercher"
          (click)="openSearchPage()"
        >
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if(categories().length > 0){
  <app-list-heading
    heading="Offres speciales"
    name_page_next="offres"
  ></app-list-heading>
  <app-banner [bannerImages]="banners()"></app-banner>
  } @if(categories().length > 0){
  <app-list-heading
    heading="Categories"
    name_page_next="category"
  ></app-list-heading>
  <app-category [categories]="categories()"></app-category>
  } @if(products().length > 0) {
  <app-list-heading heading="Nouvelles saveurs"></app-list-heading>
  <app-product-list-horizontal
    [products]="products()"
  ></app-product-list-horizontal>

  <app-list-heading heading="Burgers"></app-list-heading>
  <app-product-list-horizontal
    [products]="products()"
  ></app-product-list-horizontal>

  <app-list-heading heading="Familial"></app-list-heading>
  <app-product-list-horizontal
    [products]="products()"
  ></app-product-list-horizontal>
  }
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- Ligne 1: Informations de livraison -->
    <ion-item lines="none" detail="true" class="delivery-row">
      <ion-icon name="bicycle-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-center">Livraison 100 Fcfa</ion-label>
    </ion-item>

    <!-- Ligne 2: Bouton Panier -->
    <ion-button expand="block" class="cart-button">
      <div class="cart-button-content">
        <div class="delivery-time">
          <ion-icon name="time-outline"></ion-icon>
          <span>40-50min</span>
        </div>

        <div class="cart-text">Suivant</div>

        <div class="cart-total">30 500 F</div>
      </div>
    </ion-button>
  </ion-toolbar>
</ion-footer>
