<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-item lines="none">
      <ion-label>
        Localisation
        <p>
          <ion-icon name="location"></ion-icon>
          <ion-text>Avenue Sankara, Rue 121</ion-text>
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col size="12">
        <ion-searchbar
          #searchInput
          debounce="800"
          color="light"
          inputmode="search"
          class="srchBar"
          mode="ios"
          placeholder="Rechercher"
        >
        </ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if(categories().length > 0){
  <app-list-heading heading="Offres speciales"></app-list-heading>
  <app-banner [bannerImages]="banners()"></app-banner>
  } @if(categories().length > 0){
  <app-list-heading heading="Categories"></app-list-heading>
  <app-category [categories]="categories()"></app-category>
  } @if(products().length > 0) {
  <app-list-heading heading="Nouvelles saveurs"></app-list-heading>
  <app-product-list-horizontal
    [products]="products()"
  ></app-product-list-horizontal>

  }
</ion-content>
