ion-thumbnail {
  background: var(--ion-color-light);
  width: 6vh;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
